@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        @if (routeData.PageType == typeof(Pages.Login))
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayoutInWhite)" />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        }
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
        <NotFound>
            <p>Página no encontrada.</p>
        </NotFound>
</Router>
</CascadingAuthenticationState>